html,
body {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

p {
    /* white-space: pre-wrap; */
    margin: 0;
    padding: 0;
}

.books-display {    
    display: grid;
    min-height: 50vh;
    min-width: 50vw;
    overflow: auto;
    gap: 4px;
    padding: 4px;    
    grid-template-rows:  repeat(auto-fit, minmax(150px, 1fr));
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.book-card {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    max-width: 250px;
    max-height: 300px;
    border: 1px solid grey;
    justify-content: space-evenly;
    padding: 1rem;
}